@(request: RequestHeader, error: String)

@main("Internal Error") {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("sylesheets/sign-in-scripts.js")'></script>

    <style>
    </style>
    
    <div class="well">
        <h1>Invalid request</h1>
    </div>

    <div class="well">
        @error
    </div>

    <a id="home" class="btn btn-default" role="button" href='@request.headers.get("referrer").getOrElse("/")' >Go back</a>
}
