@(confirmationDestination: String, confirmationAddress: String, applicationId: String)

@main("Confirm Activation", true) {

    <div class="container-fluid">

        <p class="lead text-center">
        Your registration request has been received and an activation code has been sent to your @confirmationDestination: @confirmationAddress.
        Please insert the value here when received.
        </p>

        <form role="form"  name="confirmRegistration" action="@controllers.routes.RegistrationController.confirmActivation.url" method="post">
            <div class="form-group" class="form-control">
                <label>Insert Activation Code</label>
                <input type="text" name="activationCode" id="activationCode"/>
            </div>

            <input type="hidden" name="applicationId" id="applicationId" value="@{applicationId.toString}"/>

            <input type="submit" class="form-control btn btn-lg" value="Register">
        </form>
    </div>
}
