@(confirmationDestination: String, confirmationAddress: String, applicationId: String)

@main("Confirm Activation") {

    <div class="well">
        <h1>Confirm registration</h1>
    </div>

    <div class="well">
       Your registration request has been received and an activation code has been sent to your @confirmationDestination: @confirmationAddress.
       Please insert the value here when received.
    </div>

    <form name="confirmRegistration" action="@controllers.routes.RegistrationController.confirmActivation.url" method="post">
        <div>
            <label>Insert Activation Code</label><input type="text" name="activationCode" id="activationCode"/>
        </div>

        <input type="hidden" name="applicationId" id="applicationId" value="@{applicationId.toString}"/>

        <input type="submit" >Register</input>
    </form>
}
