@(userProfile: com.parallelai.wallet.datamanager.data.UserProfile)

@main("Edit Profile") {

    <div class="well">
        <h1>Register your account</h1>
    </div>

    <form name="editProfile" action="@controllers.routes.ProfileController.updateProfile.url" method="post">
        <div id="userInfo" class="container">
            <div>
                <input type="hidden" name="info.userId" id="id" value="@userProfile.info.userId"/>
            </div>

            <div>
                <!-- if (userProfile.info.email.isDefined) readonly="true"-->
                <label>Email</label><input type="email" name="info.email" id="email" readonly="true" value="@userProfile.info.email" />
            </div>

            <div>
                <label>Mobile Number</label><input type="text" name="info.msisdn" id="msisdn" readonly="true" value="@userProfile.info.msisdn" />
            </div>

            <div>
                <label>Name</label><input type="text" name="info.fullName" id="name" value="@userProfile.info.fullName"/>
            </div>

            <div>
                <label>Address</label><input type="text" name="info.address" id="address" value="@userProfile.info.address"/>
            </div>
            <div>
                <label>Post Code</label><input type="text" name="info.postCode" id="postCode" value="@userProfile.info.postCode"/>
            </div>
            <div>
                <label>Country</label><input type="text" name="info.country" id="country" value="@userProfile.info.country"/>
            </div>
        </div>

        <div id="userSettings" class="container">
            <label>Settings</label>
            <div>
                <label>Mobile Number</label>
                <input type="number" name="settings.maxAdsPerWeek" id="maxAdsPerWeek" value="@userProfile.settings.maxAdsPerWeek"/>
            </div>
        </div>

        <input type="submit" value="Update"/>
    </form>
}

