@(userProfile: com.parallelai.wallet.datamanager.data.UserProfile)

@main("Edit Profile") {

    <div class="lead test-center">
        <h1>Edit Profile</h1>
    </div>

    <form name="editProfile" action="@controllers.routes.ProfileController.updateProfile.url" method="post">
        <div id="userInfo" class="container">
            <div>
                <input type="hidden" name="info.userId" id="id" value="@userProfile.info.userId"/>
            </div>

            <div class="form-group">
                <label>Email</label>
                @if(userProfile.info.email.isDefined) {
                    <input type="email" name="info.email" id="email" readonly="true" value="@userProfile.info.email" />
                } else {
                    <input type="email" name="info.email" id="email" value="@userProfile.info.email" />
                }
            </div>

            <div class="form-group">
                <label>Mobile Number</label>
                @if(userProfile.info.msisdn.isDefined) {
                    <input type="text" name="info.msisdn" id="msisdn" readonly="true" value="@userProfile.info.msisdn" />
                } else {
                <input type="text" name="info.msisdn" id="msisdn" value="@userProfile.info.msisdn" />
                }
            </div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" name="info.fullName" id="name" value="@userProfile.info.fullName"/>
            </div>

            <div class="form-group">
                <label>Birth Date</label><input type="text" class="span2" name="info.birthDate" id="birthDate" value="@userProfile.info.birthDate"/>
            </div>
            <div class="form-group">
                <label>Post Code</label><input type="text" name="info.postCode" id="postCode" value="@userProfile.info.postCode"/>
            </div>
            <div class="form-group">
                <label>Country</label><input type="text" name="info.country" id="country" value="@userProfile.info.country"/>
            </div>

            <div class="form-group">
                @if(userProfile.info.gender == Some("M")) {
                    <input type="checkbox" name="info.gender" id="gender.male" value="M" checked="true"/>

                } else {
                    <input type="checkbox" name="info.gender" id="gender.male" value="M" />
                } Male
                @if(userProfile.info.gender == Some("F")) {
                    <input type="checkbox" name="info.gender" id="gender.female" value="F" checked="true"/>
                } else {
                    <input type="checkbox" name="info.gender" id="gender.female" value="F"/>
                } Female
            </div>
        </div>

        <div id="userSettings" class="form-group">
            <label class="lead">Settings</label>
            <div>
                <label>Max Messages Per Week</label>
                <input type="number" name="settings.maxAdsPerWeek" id="maxAdsPerWeek" value="@userProfile.settings.maxAdsPerWeek"/>
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password" id="password" value=""/>
            </div>
        </div>

        <div id="totalPointsDiv" class="form-group">
            <label class="lead">Total Karedo Points</label>
            <input type="number" name="totalPoints" id="totalPoints" value="@userProfile.totalPoints" readonly="true"/>
        </div>

        <input class="btn-primary btn-lg" type="Submit" value="Update"/>
        <a class="btn btn-lg" href="@routes.MainController.index.url">Cancel</a>
    </form>
    <script src="/assets/javascripts/bootstrap-datepicker.js"></script>
    <script>
        $(function() {
            $('#birthDate').datepicker({
                format: 'mm-dd-yyyy'
            });
        });
    </script>
}

