@(userWelcomingMessage: String, redirectTo: String)

@main("Register") {

    <div class="container">
        <div class="well">
            <h1>Hi @userWelcomingMessage, please enter your password</h1>
        </div>

        <form name="register" action="@controllers.routes.RegistrationController.submitPassword.url" method="post">
            <div>
                <label>Password</label><input type="password" name="password" id="password"/>
            </div>

            <input type="hidden" name="redirectTo" id="redirectTo" value="@redirectTo" />

            <input type="submit" value="Ok"/>
        </form>

    </div>


}
