@(userWelcomingMessage: String, redirectTo: String)

@main("Register", true) {

    <div class="container-fluid">
        <div class="lead text-center">
            Hi @userWelcomingMessage
        </div>

        <form role="form"  name="register" action="@controllers.routes.RegistrationController.submitPassword.url" method="post">
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" id="password"/>
            </div>

            <input type="hidden" name="redirectTo" id="redirectTo" value="@redirectTo" />

            <input type="submit" class="btn btn-lg" value="Ok"/>
        </form>

    </div>


}
