@main("Register") {

    <div class="well">
        <h1>Register your account</h1>
    </div>

    <div>
        <label>Insert Email</label><input type="email" name="email" id="email"/>
    </div>

    <div>
        <label>Insert Name</label><input type="text" name="name" id="name"/>
    </div>

    <div>
        <label>Address</label>
        <label>Line 1</label><input type="text" name="address_line1" id="address_line1"/>
        <label>Line 2</label><input type="text" name="address_line2" id="address_line2"/>
        <label>Town</label><input type="text" name="town" id="town"/>
        <label>Post Code</label><input type="text" name="postcode" id="postcode"/>
    </div>


    <button type="submit">Register</button>
}
